/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Content Styles */
.content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.sidebar {
    background-color: #f4f4f4;
    border: 2px solid #333;
    margin: 10px;
    padding: 20px;
    width: 20%;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 75%;
}

.box {
    background-color: #f4f4f4;
    border: 2px solid #333;
    margin: 10px;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.box img {
    width: calc(100% - 30px); /* Subtracting padding from both sides */
    height: calc(100% - 30px); /* Subtracting padding from both sides */
    padding: 15px;
    box-sizing: border-box;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .sidebar {
        width: 30%;
    }
    main {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .box {
        width: 45%; /* Maintain two boxes next to each other */
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .box {
        width: 100%; /* Stack boxes vertically */
    }
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}